/* MAIN PAGE CSS */

.main {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto 103px auto;
}

.main-wr {
  width: 1100px;
  margin: auto;
  display: flex;
}

.main-text {
  width: 540px;
}

.main-text h1 {
  font-size: 44px;
  line-height: 50px;
  color: var(--green);
  margin-bottom: 20px;
}

.main-text-paragraph {
  font-family: var(--gilroy-semibold);
  font-size: 18px;
  line-height: 22px;
  color: #8476aa;
  margin-bottom: 40px;
  width: 468px;
}

.main-button-group {
  margin-bottom: 60px;
}

.main-text button {
  width: 157px;
  height: 46px;
}

.main-image {
  width: 723px;
  height: 580px;
}

.main-text-card {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-gap: 20px;
}

.main-card-video {
  height: fit-content;
}

.main-card-text {
  padding: 4px 0;
}

.main-card-text h5 {
  font-family: var(--rubik-regular);
  font-size: 16px;
  line-height: 22px;
  color: var(--p-color);
  margin-bottom: 6px;
}

.main-card-paragraph {
  font-family: var(--rubik-regular);
  font-size: 14px;
  line-height: 22px;
  color: #6d6d78;
}

@media (max-width: 1600px) {
  .main-image {
    right: 0;
  }
}

@media (max-width: 1400px) {
  .main-text {
    width: 490px;
  }

  .main-text h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .main-text-paragraph {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .main-button-group {
    margin-bottom: 30px;
  }

  .main-card-text h5 {
    font-size: 14px;
  }

  .main-img {
    width: 550px;
  }
}

@media (max-width: 1200px) {
  .main-wr {
    width: 750px;
  }

  .main-img {
    width: 350px;
    height: fit-content;
  }

  .main-image {
    height: fit-content;
  }

  .header {
    margin-bottom: 80px;
  }
}

@media (max-width: 850px) {
  .main-wr {
    display: block;
    width: 350px;
  }

  .main-text h1 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .main-text-paragraph {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
  }

  .main-button-group {
    display: flex;
    justify-content: space-between;
  }

  .main-text-card {
    margin-bottom: 40px;
  }

  .main-text-paragraph {
    width: fit-content;
  }

  .main-text {
    width: 100%;
  }

  .main-image {
    width: 100%;
    height: fit-content;
  }

  .main-image img {
    width: 100%;
    height: fit-content;
  }
}

@media (max-width: 600px) {
  .main-image {
    z-index: -1;
  }

  .header {
    margin-bottom: 20px;
  }

  .main-text h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
  }

  .main-text-paragraph {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    width: fit-content;
  }

  .main-button-group {
    margin-bottom: 18px;
  }

  .main-text {
    width: calc(100% - 40px);
    margin: auto;
  }
}
